.body {
  width: 60em;
  background: #F3F7FA;
  padding-top: 5em;
}

.center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.filter {
  /* Filter */
  max-height: 17em;
  margin-left: 5%;
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.filterTitle {
  font-family: Open-Sans, Helvetica,sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #4A4A4A;
  margin-top: 1em;
}

.transfersFilter {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.transfersFilterEl {
  cursor: pointer;
  padding-left: 0.3em;
}

.checkboxitem:disabled {
  outline:1px solid black;
  color: red;
  opacity: 1;
}

.transfersFilterEl:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: lightskyblue;
  border: 0.1em solid #DFE5EC;
  box-sizing: border-box;
  border-radius: 0 0.5em 0 0.5em;
}

.tab {
  margin: 0;
  font-family: Open-Sans, Helvetica,sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.7em;
  line-height: 1em;
  text-transform: uppercase;
  height: 5em;

  /* Primary Colors/White */
  background: #FFFFFF;
  border: 0.1em solid #DFE5EC;
  box-sizing: border-box;
  border-radius: 0 0.5em 0.5em 0;
  color: #4A4A4A;
  width: 50%;
}

.active_tab {
  color: #FFFFFF;
  /* Secondary Colors/Border */
  border-radius: 0.5em 0 0 0.5em;
  background: #2196F3;
}

