<div class="container body" style="min-height: 1000px">
  <app-plane-logo></app-plane-logo>
  <div class="row">
    <div class="col-lg-3 filter">
      <h5 class="filterTitle">curency</h5>
        <form #filterForm="ngForm" action="#" method="GET">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="currency" id="inlineRadio1" value="rub" [(ngModel)]="currency">
            <label class="form-check-label" for="inlineRadio1">RUB</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="currency" id="inlineRadio2" value="usd" [(ngModel)]="currency">
            <label class="form-check-label" for="inlineRadio2">USD</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="currency" id="inlineRadio3" value="eur" [(ngModel)]="currency">
            <label class="form-check-label" for="inlineRadio3">EUR</label>
          </div>
        <br/>
        <h5 class="filterTitle">transfers</h5>
        <ul class='transfersFilter'>
          <li *ngFor="let transferVariant of transferVariants" class="transfersFilterEl" (click)="toggleTransfer(transferVariant)">
            <input type="checkbox" class="checkboxitem" id="transferVariant.title"
                   [name]="'option-'+transferVariant.value.toString()"
                   [checked]="transferVariant.checked"
                   disabled
            >
            <label class="form-check-label" for="transferVariant.title">&nbsp;{{ transferVariant.title }}</label>
          </li>
        </ul>
      </form>
    </div>
    <div class="col-lg-8">
      <div class="tabs row">
        <div class="col-lg-12">
          <div class="tab center float-left" [ngClass]="sortValue === 'cheapest' ? 'active_tab' : ''" (click)="setSort('cheapest')">Cheapest ticket</div>
          <div class="tab center float-right" [ngClass]="sortValue === 'fastest' ? 'active_tab' : ''" (click)="setSort('fastest')">fastest route</div>
        </div>
      </div>
<!--      <div class="row bg-white m-2" *ngFor="let ticket of tickets">-->
<!--        <div class="col-3">-->
<!--          Carrier: {{ ticket.carrier }}-->
<!--          <img src="/assets/turkish.png" alt="turkish" height="55px"/>-->
<!--          <br>-->
<!--          <button class="btn-warning btn-lg m-2">{{ ticket.price }} {{ currency | uppercase }}</button>-->
<!--        </div>-->
<!--        <div class="col-9">-->
<!--          <div class="row">-->
<!--            <div class="col-4">-->
<!--              <h3>{{ ticket.departure_time }}</h3>-->
<!--              <b>{{ ticket.origin }}, {{ ticket.origin_name }}</b><br>-->
<!--              <h6 class="">{{ ticket.departure_date }}</h6>-->
<!--            </div>-->
<!--            <div class="col-4">-->
<!--              <br>-->
<!--              <div style="text-align: center;">{{ ticket.transfers }} пересадка</div>-->
<!--              <div class="row">-->
<!--                <div class="col-10"><hr></div>-->
<!--                <div class="col-1" style="background-image: url(/assets/airplane.png); background-repeat: no-repeat;width: 16px;height: 16px;float: right;"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-4">-->
<!--              <h3>{{ ticket.arrival_time }}</h3>-->
<!--              <b>{{ ticket.destination }}, {{ ticket.destination_name }}</b><br>-->
<!--              <h6 class="">{{ ticket.arrival_date }}</h6>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

      <app-ticket *ngFor="let ticket of tickets"
                  [afrom]="ticket.origin"
                  [ato]="ticket.destination"
                  [arrive]="ticket.arrival_time"
                  [depart]='ticket.departure_time'
                  [flightTime]='ticket.arrival_date'
                  [price]="ticket.price"
                  [transfers]="ticket.transfers"
                  [currency]="currency"
      ></app-ticket>
  </div>
</div>
