body {
  font-family: Open-Sans, Helvetica,sans-serif;
}

.body {
  position: relative;
  width: 960px;
  height: 1350px;
  background: #F3F7FA;
  padding-top: 5em;
}
.filter {
  /* Filter */
  max-height: 15em;
  margin-left: 5%;
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.filterTitle {
  /* Количество пересадок */

  font-family: Open-Sans, Helvetica,sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4A4A4A;
}

.transfersFilter {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.transfersFilterEl {
  cursor: pointer;
  padding-left: 0.3em;
}

.checkboxitem {

}

.transfersFilterEl:hover {
  cursor: pointer;
  background-color: aqua;
}

.tab {
  margin: 0;
  font-family: Open-Sans, Helvetica,sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.7em;
  line-height: 1em;
  /* identical to box height, or 167% */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  height: 4em;

  /* Primary Colors/White */
  background: #FFFFFF;
  border: 0.1em solid #DFE5EC;
  box-sizing: border-box;
  border-radius: 0 0.5em 0.5em 0;
  color: #4A4A4A;
  width: 50%;
}

.active_tab {
  color: #FFFFFF;
  /* Secondary Colors/Border */
  border-radius: 0.5em 0 0 0.5em;
  background: #2196F3;
}

