.ticket {
  /* Rectangle */
  height: 10em;
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.price {
  /* 13 400 ла */
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  display: flex;
  align-items: center;

  /* Primary Colors/Primary 500 */
  color: #2196F3;
}


.logo {
  /* S7 Logo */
  width: 7em;
  height: 3em;
  /*background: url(//pics.avs.io/99/36/SU.png) no-repeat;*/
}

.routeTitle {
  /* MOW  HKT */
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #A0B0B9;
}

.routeInfo {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;

  color: #4A4A4A;
}
